#outer-div{
    background-color: white;
    border: 2px solid black;
}

#div1{
    background-color: red;
    height: 200px;
    width: 200px;
    position: static;
}

#div2{
    background-color: blue;
    height: 200px;
    width: 200px;
    position: relative;
    left: 20px;
    top: 20px;
    
}

#div3{
    background-color: pink;
    height: 200px;
    width: 200px;
    position: sticky;
    top: 20px;
    left: 20px;
    
}

#div4{
    background-color: aqua;
    height: 200px;
    width: 200px;
}


#social{
    display: inline-block;
    position:fixed;
}