#container{
    height: 500px; /*This adjusts itself to the inside content*/
    width: 500px;
    background-color: pink;

    display: flex;
    flex-direction: row; /* This will decide the direction of flex boxes*/
    flex-wrap: wrap; /*This will wrap the content of flex boxes inside container if the content overflows (it does not overflow) */
    
    

}

#container div{
    height: 200px;
    width: 200px;
    
}

#div1{

    background-color: aqua;
    order: 1; /* This will decide the order of flex boxes*/
    
}
#div2{
    background-color: blue;
    order: 2;
    flex-grow: 1;
}
#div3{
    background-color: green;
    order: 5;
    flex-grow: 2;
}
#div4{
    background-color: yellow;
    order: -1;
}
#div5{
    background-color: red;
    flex-grow: 2;
}
#div6{
    background-color: purple;
    flex-grow: 2;
}