
/* In general Body details of webpage */
body{
    margin: 0px;   
}

/*____SECTION STYLING FOR COMMON DESIGN ___*/
.section{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.mb75px{
    margin-bottom: 75px;
}

.text-highlight{
    color: #2857a4;
    font-weight: 600;
}


/*This section will allow us to set alternate color */
.section:nth-child(2n){
    background-color: lightgrey;
}

.section:nth-child(2n+1){
    background-color: white;
}

.section:target{
    background-color: cyan;
}

.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    margin: 10px auto;
    font-weight: 400;
}

.section-heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

/* _____________SECTION: Body header and background image header_____________ */
#body-header{

    height: 65vh;
    margin-top:-16px;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    background-attachment: fixed;
}

/* _________SECTION : nav bar section_____________ */

.horizontal-list{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    
}

/* general class to align a text in center */

.text-center{
    text-align: center;
}


/* Design for all elements in list */
.horizontal-list li{
    display: inline-block;
    margin: 30px 15px 0px 15px;
    font-size: 1.2rem;
}

/* this applies to all anchor tags in the list */
.horizontal-list li a{
    color:white;
    text-decoration: none;
    
}

/* for nav-menu class */


.nav-menu li a{
    transition: color 0.5s,  border-bottom 4s;
}

/*  hover and color-transitions for nav-bar */

.nav-menu li a:hover{
    color:lightgrey;
    padding: 5px;
    border-bottom: 2px solid white;
}


/* _________SECTION : Name and Social-Icons_____________ */
#name-social-container{
    margin-top: 20vh;
}
#my-name{
    color:white;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li a i{
    color:white;
    padding: 10px;  
    font-size: 1.2rem;  
    border-radius: 50%;
}

.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px #FFCCCB ;
}



/* _________SECTION : About Section_____________ */
#about{
    height: auto;
    width: 100%;
    position: relative;
}

/*This is for image container*/
#my-image{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
    box-shadow: 0px 0px 4px 6px #c8bd9f;
    border-radius:50%;
    
}

/*This is for actual image tag*/
#my-image img{
    height:100%;
    width: 100%;
    border-radius: 50%;
    
    
}

.about-text{
    height: auto;
    padding-left: 20vw;
    padding-right: 20vw;
    font-size: 1.5rem;
}

/* _________SECTION : Skills Section_____________ */

.skills-display{
    margin:30px;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;

}

.skill-progress{
    width: 7rem;
    height: 1.4rem;
    background-color: lightgray;
    border-radius: 0.8rem;
    border: 2px solid black;
}

.skills-display>div:hover{
    box-shadow: -10px 10px 10px 10px grey;
    margin-left: 10px;
    margin-right: 10px;  
} 

.skill-progress>div{
    border-radius: 20px 0px 0px 20px;
}


.skill-progress-dsa{
    width: 19rem;
    height: 1.4rem;
    background-color: lightgray;
    border-radius: 0.8rem;
    border: 2px solid black;
}

.skill-progress-css{
    width: 10rem;
    height: 1.4rem;
    background-color: lightgray;
    border-radius: 0.8rem;
    border: 2px solid black;
}

.skill-progress-os{
    width: 13rem;
    height: 1.4rem;
    background-color: lightgray;
    border-radius: 0.8rem;
    border: 2px solid black;
}

.skill-progress-database{
    width: 13rem;
    height: 1.4rem;
    background-color: lightgray;
    border-radius: 0.8rem;
    border: 2px solid black;
}

/* percentage class */
.mb-blue{
    background-color: #2857a4;
}

.mb-orange{
    background-color:orange;
}

.mb-red{
    background-color: red;
}

.mb-black{
    background-color: black;
}
.mb-golden{
    background-color: goldenrod;
}

.mb-green{
    background-color: green;
}

.mb-purple{
    background-color: purple;
}

.mb-violet{
    background-color: violet;
}





/* class for 80% skill level */
.eighty-per{
    width: 80%;
    height: inherit;
    border-radius: 0.8rem;
}

.ninty-per{
    width: 90%;
    height: inherit;
    border-radius: 0.8rem;
}

.seventy-per{
    width: 70%;
    height: inherit;
    border-radius: 0.8rem;
}
.sixty-per{
    width: 70%;
    height: inherit;
    border-radius: 0.8rem;
}

.fifty-per{
    width: 50%;
    height: inherit;
    border-radius: 0.8rem;
}

/* properties for skill name */
.skill-name span{
    padding: 5px;
    font-size: 18px;
    color:white;
}


/* _________SECTION : CONTACT ME Section_____________ */


.contact-section{
    width: 100%;
    height: 75vh;
    display:flex;
    flex-direction: column;
    justify-content:left;
    align-items: center;
    background-image: linear-gradient(90deg,#2e4b92, #403066);
}


.contact-section span{
    color:white;
}

.input-form{
    width: 50%;
    height: 200px;
    border: 2px solid black;
    
}

.contact-info{
    width: 50%;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
}




