
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            margin: 20px;
            background-color:#222;
        }
        h1,h2,h3,h4{
            color: white;
        }
        p{
            color: white;
        }
        
    </style>
</head>
<body>
    <h1>Welcome!! This is ConnectIO!</h1>

    <% if (locals.user) { %>
        
        <section id="feed-posts">
            <h3> Your Feed!!</h3>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" id="" cols="30" rows="5" placeholder="type here.."></textarea>
                <input type="submit" value="Post">
            </form>
        </section>

        <!-- POST CONTAINERS -->
        <section>
        <div id="post-list-container">
            <ul>
                <% for(post of posts) { %> 
                <%- include('_post')%>
                <% } %>

            </ul>

        </div>

    <% } else { %>
        <h3> Login/Sign-up to your account to Post!!</h3>
    <% } %>
    </section>

    <section id="user-friends"> 
        <h2>Friends Lists</h2>
        <% for(u of all_users) { %>
            <p>
                <a href="/users/profile/<%= u.id%>"> <%= u.name%></a>
            </p>
        <% } %>

    </section>

    <script src="/js/home_posts.js"></script>

    
</body>
