<style>
    body{
        margin: 0;
        text-align: center;
        background-color:#222;
    }
    h1,h2,h3{
        text-align: center;
        color: white;
    }
    p{
        color: white;
    }
</style>

<h1>Sign In!</h1>
<form action="/users/create-session" method="POST">
    <input type="text" name="email" placeholder="email" required>
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Sign-In">
</form>