<style>
    body{
        margin: 0;
        text-align: center;
        background-color:#222;
    }
    h1,h2,h3{
        text-align: center;
        color: white;
    }
    p{
        color: white;
    }

</style>


<h1>Sign In!</h1>
<form action="/users/create-session" method="POST">
    <input type="text" name="email" placeholder="email" required style="padding: 5px;"> 
    <input type="password" name="password" placeholder="password" style="padding: 5px;"> 
    <input type="submit" value="Sign-In" style="padding: 5px;">
</form>

<h2>
    <p>Google Sign In/Sign-Up</p> <a href="/users/auth/google">"HERE"</></i></a>
</h2>