<style>
    body{
        margin: 0;
        text-align: center;
        background-color:#222;
    }
    h1,h2,h3{
        text-align: center;
        color: white;
    }
    p{
        color: white;
    }
</style>


<h1>Sign Up!</h1>
<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="your name" required>
    <input type="email" name="email" placeholder="enter email" required>
    <input type="password" name="password" placeholder="Enter password" required>
    <input type="password" name="confirm_password" placeholder="Confirm password" required>
    <input type="submit" value="Sign Me Up!">
</form>