<h1>Sign In!</h1>
<form action="/users/create-session" method="POST">
    <input type="text" name="email" placeholder="email" required>
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Sign-In">
</form>