<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/80af900ef9.js" crossorigin="anonymous"></script>
    <title>
        <%= locals.title %>
    </title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div>
        <h1 id="heading"><i class="fa-solid fa-address-book fa-beat"></i> Contact List</h1>

        <div id="list-items">
            <ul>
                <% for(let i of contact_list) {%>
                    <li class="contact">
                        <div class="details">
                                <p><i class="fa-solid fa-user"></i>
                                    <span id="render-left"><%= i.name %></span>  
                                    <span id="render-right"><%= i.phone %></span>
                                    <span class="delete-button">
                                        <a href="/delete-contact/?phone=<%= i.phone %>">
                                            <i class="fa-sharp fa-solid fa-trash" style="color: #ffffff;"></i>
                                    </a></span>
                                </p>   

                        </div>
                        
                    </li>
                <%}%>
            </ul>
        </div>

        <div id="add-contacts">
            <div id="head"><h2 style="color:white;margin-top:10px"><i class="fa-solid fa-plus"></i> &nbsp; Add A New Contact!!</h2></div>
            <form action='/create-contact' method="POST">
                <div id="enter-name">
                    <input type="text" name="name" placeholder="Enter name" required>
                </div>
                <div id="enter-number">
                    <input type="number" name="phone" placeholder="Enter phone">
                </div>
                <button type="submit"class="button">Add</button>
            </form>
        </div>

        
    </div>

    <script type="text/javascrit" src="/js/home.js"></script>
</body>
</html>