<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title %>
    </title>
</head>
<body>
    <h1>This is rendered by EJS!!</h1>
    <div>
        <h1>Contact List</h1>

        <div>
            <ul>
                <% for(let i of contact_list) {%>
                    <li> 
                        <p><%= i.my_name %></p>
                        <p><%= i.my_phone %></p>
                    </li>
                <%}%>
            </ul>
        </div>

        <form action='/create-contact' method="POST">
            <input type="text" name="my_name" placeholder="enter name" required>
            <input type="number" name="my_phone" placeholder="enter phone">
            <button type="submit">Add to Contacts</button>
        </form>
    </div>
</body>
</html>