<html>
    <head>
        <title>
            <%= locals.title %>
        </title>
    </head>
    <body>
        <h1>Playground</h1>
        <ul>
            <% for(let i=1;i<6;i++){ %>
            <li>
                <%= i %>
            </li>
            <%}%>
        </ul>

        <% if(true){%>
            <h1>Its true</h1>
        <%}else{%>
            <h1>Its false</h1>
        <%}%>
    </body>
</html>